
@{
    ShoesShopOnline.Models.TaiKhoanQuanTri tk = (ShoesShopOnline.Models.TaiKhoanQuanTri)HttpContext.Current.Session[ShoesShopOnline.Session.ConstaintUser.ADMIN_SESSION];
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>
    Hi, <span style="color:red">@tk.HoTenUser</span> !
    <br />Wellcome to XShop.
</h2>
