@model IEnumerable<ShoesShopOnline.Models.DanhMucSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section script{
    <script src="~/Areas/Admin/Assets/JS/DanhMuc.js"></script>
}
<head>
    <style>
        a {
            color: white;
        }

            a:hover {
                color: yellow;
            }
    </style>
</head>
<p>
    <button style="background-color: black; border-radius: 8px;width:100px">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            Tên danh mục
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row-@item.MaDM">
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td>
                @*@Html.ActionLink("Xóa", "Delete", new { id = item.MaDM })*@
                @*<button type="button" class="btn btn-primary" onclick="deletedata(@item.MaDM)">
            open modal
        </button>*@
                <button class="btn btnDelete ThemMoi Crud"style="background-color: red; border-radius: 8px;width:100px" dataname="@item.MaDM">Xóa</button>

            </td>
        </tr>
    }
</table>
